:host {
  display: block;
}

label {
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-items: center;
}

inclde-help-spot {
  margin-right: 0.2em;
}

.flex-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
}

.flex-value {
  flex-grow: 1;
}