:host {
  display: block;
  padding-top: 5px;
}

.array-entry {
  margin: 5px 5px 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.array-element {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: dotted 1px #ccc;
  gap: 1em;
}


.property-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-name {
  padding-right: 1em;
}

.property-value {
  flex-grow: 1;
}


inclde-input {
  display: inline-block;
}

.interface-buttons {
  float: right;
}

.interface-buttons.offset {
  margin-right: 10px;
}

.interface-buttons button {
  vertical-align: bottom;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.interface-buttons button:disabled {
  cursor: default;
}

.interface-buttons button svg {
  width: 20px;
  height: 20px;
  fill: #777;
}


.interface-buttons button:hover svg {
  fill: #000;
}
.interface-buttons button.danger-btn:hover svg {
  fill: rgb(210, 48, 48);
}
.interface-buttons button:active svg {
  fill: #555;
}

.editing-container {
  border-top: 1px solid #aaa;
  margin-top: 4px;
  padding-top: 7px;
  margin-bottom: 20px;
}
