:host {
  display: block;
}

.property-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
}

.property-name {
  padding-right: 1em;
}

.property-value {
  flex-grow: 1;
}

input {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

button.edit-button {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

button.edit-button svg {
  width: 15px;
  height: 15px;
  fill: #777;
}

button.edit-button:hover svg {
  fill: #000;
}

button.edit-button:active svg {
  fill: #555;
}

